<li>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
</li>
<p>
  <%= link_to 'Undo comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
<p>
  <%= link_to 'Archive comment', [comment.article, comment],
              method: :patch,
              data: { confirm: "Are you sure?" } %>
</p>