<!--Articles main list with filters-->
<ul>
  <% case filter %>
  <% when :public %>
    <% articles.each do |article| %>
      <% if article.public? %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  <% when :archived %>
    <% articles.each do |article| %>
      <% if article.archived? %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  <% when :personal %>
    <% articles.each do |article| %>
      <% if article.personal? %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <% articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>