<p>
  <%= form.label "visibility:" %><br>
  <%= form.select :status,
                  [["Public", "public"], ["Personal", "personal"], ["Archived", "archived"]],
                  selected: "public" %>
  <% element.errors.full_messages_for(:status).each do |message| %>
  <div><%= message %></div>
<% end %>
</p>