<p>
  <%= form.label "Visibility:" %><br>
  <%= form.select :status,
                  [['Public', 'public'], ['Personal', 'personal'], ['Archived', 'archived']],
                  selected: @comment.nil? ? 'public' : @comment.status %>
</p>