<% if current_user %>
  <p>This is the homepage, click down below for options!</p>
  <ul>
    <li>
      <%= link_to "Articles", articles_path %>
    </li>
    <li>
      <%= link_to "Authors", users_path %>
    </li>
  </ul>



<% else %>
  <p>This is the homepage!, please login/signup for navigating the blog</p>
<% end %>
